fastapi==0.97.0
urllib3==1.26.15
uvicorn==0.20.0
pylint==2.16.2
python-dotenv==1.0.0
mangum==0.17.0
boto3==1.26.127
aenum==3.1.11
pydantic==1.10.5
python-json-logger==2.0.7
ddtrace==1.13.3
datadog-lambda==4.72.0
aws-requests-auth==0.4.3
botocore==1.29.137
aws-secretsmanager-caching==1.1.1.5
sqlalchemy==2.0.18